div.responsive{
  cursor: pointer;
  float: left;
  margin-left: 2.91262136%;
  margin-top: 3%;
  position: relative;
  width: 30.42071197%;
}


div.gallery img {
  width: 100%;
  object-fit: fill;  
}

div.gallery {
  border: solid 1px rgb(221, 221, 221);
}

div.gallery:hover {
  border: 2px solid white;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.icons {
  padding-bottom: 60px;
}

.category__container {
  margin-left: 2.9%;
}

@media only screen and (max-width: 900px) {
    div.responsive {
      width: 47%;
      margin: 30px 0px 0px 15px;
    }

    .category__container {
      margin-left: 15px;
    }
  
  
    div.gallery img:hover {
      border: none;
    }
}

@media only screen and (max-width: 600px) {
        div.responsive {
        width: 100%;
        margin: 30px 0px 0px 0px;
     }

     .category__container {
      margin-left: 0;
    }
    }

@media (prefers-color-scheme: dark) {
  div.gallery {
    border: solid 1px  #201f1f;
}

div.gallery:hover {
  border: 2px solid white;
  }
}