div.responsive{
  cursor: pointer;
  float: left;
  margin-left: 2.91262136%;
  margin-top: 3%;
  position: relative;
  width: 30.42071197%;
}


div.gallery img {
  width: 100%;
  object-fit: fill;  
}

div.gallery img:hover {
  border: 2px solid #777;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
    div.responsive {
      width: 47%;
      margin: 20px 0px 0px 15px;
    }
  
  
    div.gallery img:hover {
      border: none;
    }
}

@media only screen and (max-width: 600px) {
        div.responsive {
        width: 100%;
        margin: auto 0px 0px 0px;
     }
    }